---
import BaseLayout from "../layouts/BaseLayout.astro";
import { RUFFLOGIX_IMAGE_512, PRIMARY_TEXT_COLOR, PRIMARY_BACKGROUND_COLOR, SECONDARY_BACKGROUND_COLOR } from "../const";
import Image from "astro/components/Image.astro";

const tags: string[] = ["Learn", "Coffee", "Code"];
---

<BaseLayout title="RuffLogix - Teejuta Sriwaranon">
    <div
        class="flex flex-col h-screen gap-5 justify-center items-center w-full"
    >
        <div class="inline-block overflow-hidden">
            <Image
                src={RUFFLOGIX_IMAGE_512}
                alt="rufflogix profile"
                class="block hover:scale-125 duration-500"
                width={360}
                height={360}
                loading="eager"
            />
        </div>
        <h1 class="text-5xl text-center">
            Hi there, I'm <span
                class=`font-semibold ${PRIMARY_TEXT_COLOR} duration-500`
                >RuffLogix!</span
            >
        </h1>
        <div class="flex gap-3">
            {
                tags.map((tag) => (
                    <span class=`px-3 py-1 font-normal ${SECONDARY_BACKGROUND_COLOR} hover:${PRIMARY_BACKGROUND_COLOR} hover:cursor-default duration-300 rounded-full`>
                        # {tag}
                    </span>
                ))
            }
        </div>
        <div class="flex items-center">
            <hr class="flex-grow" />
            <span class="font-medium animate-bounce underline"
                >Ruff Ruff Ruff 🐰</span
            >
            <hr class="flex-grow" />
        </div>
    </div>
</BaseLayout>
